name: Deploy website

on:
  push:
    branches:
      - main

jobs:
  build-website:
    name: Build website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build
        working-directory: website
        run: |
          sudo apt install fonts-inter
          pnpm run -w build --filter @praha/byethrow-website
          touch doc_build/.nojekyll

      - name: Upload
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: website/doc_build

  deploy-website:
    name: Deploy website
    runs-on: ubuntu-latest
    needs: build-website
    permissions:
      pages: write
      id-token: write
    environment:
      name: Website
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        name: Deploy
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
